* {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --dark: darkblue;
    --light: lightblue;
}

.hidden {
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    color: var(--light);
    align-items: baseline;
}

a:link {
    color: yellowgreen;
}

a:visited {
    color: yellowgreen;
}
 
a:hover {
    color: tomato;
}

#question-text {
    max-width: 500px;
    overflow-wrap: normal;
}

#question-element.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    display:grid;
    grid-template-columns: auto auto;
    /* display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}

button {
    margin: 5px;
    padding: 5px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 5px;
    min-width: 75px;
}

form input {
    margin: 5px;
    padding: 5px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 5px;
    min-width: 75px;
}

#high-scores {
    display:flex;
    flex-direction: column;
}

#score-list {
    display: flex;
    padding-left: 0px;
    justify-content: center;

}

.plaque {
    display: flex;
    padding-left: 0px;
}

.plaque span {
    display: flex;
    justify-content: space-between;
}

.display-name {
    margin: 10px;
    display:flex;
}

.display-score {
    margin: 10px;
    display: flex;
}

#high-scores {
    display: flex;
    flex-direction: column;

}

#high-scores h3 {
    display: flex;
    justify-content: center;
}

#high-scores span {
    display: flex;
}